@import "mixin";
@import "variables";

.footer {
	background: #353C65;
}

.info {
	display: flex;
	justify-content: space-between;
	margin: 0 -30px;
	padding-top: 71.14px;
	padding-bottom: 67.14px;

	@media (max-width:1024px) {
		margin-left: 20px;
		margin-right: 20px;
	}

	@media (max-width:320px) {
		display: flex;
		flex-direction: column;
		padding-top: 35px;
		padding-bottom: 35px;
		margin-left: 0px;
		margin-right: 0px;
	}

	&-location,
	&-share,
	&-about {
		width: 33.3%;
		padding: 0 15px;
	}


	&-title {
		margin-bottom: 29px;
		@include fontz($rw, 18px, 700, 21px);
		text-transform: uppercase;
		text-align: center;
		color: #fff;

		@media (max-width:1024px) {
			@include fontz($rw, 14px, 700, 16px);
		}
	}
}

@media (max-width:320px) {

	.info-location,
	.info-share,
	.info-about {
		width: 100%;
		padding: 0;
	}

	.info-share {
		margin-top: 69px;
		margin-bottom: 59px;
	}

	.info-share h5 {
		margin-bottom: 36.71px;
	}

	.info-about h5 {
		margin-bottom: 36.71px;
	}
}

.info-title__text {
	@include fontz($rw, 18px, 400, 21px);
	text-align: center;
	text-transform: capitalize;
	color: #fff;

	@media (max-width:1024px) {
		@include fontz($rw, 14px, 400, 16px);
	}

}



.info-title__vector {
	display: flex;
	justify-content: center;
}

.vector__facebook,
.vector__twitter,
.vector__linkedin {
	width: 39;
	height: 39;
	padding: 10px;
	border: 1px solid #C6CBCD;
	fill: #C6CBCD;
	transition: 0.2s;

	&:hover {
		cursor: pointer;
		border: 2px solid #777c7f;
		border-radius: 20%;
		fill: #777c7f;
		background: #fff2f2cc;
	}

	@media (max-width:1024px) {
		width: 33;
		height: 33;
		padding: 8px;
	}
}

.vector__facebook,
.vector__twitter {
	margin-right: 27px;
}

.copyright {
	background: #2c3154;

	&-content {
		padding: 24px 0;

		@media (max-width:320px) {
			padding: 29px 0;
		}
	}

	&-content p {
		@include fontz($rw, 18px, 400, 21px);
		color: #808080;
		text-align: center;
		text-transform: capitalize;
		width: calc((370px * 100%) / 1200px);
		margin: 0 auto;

		@media (max-width:1024px) {
			@include fontz($rw, 14px, 400, 16px);
		}

		@media (max-width:320px) {
			width: 280px;
			padding: 0;
			margin: 0;
		}
	}

	&-content__author {
		color: #fff;
	}
}