@import 'mixin';
@import 'variables';

.wrapper-project {
	display: flex;
	flex-wrap: wrap;
}

.project-image {
	width: 25%;
	border: 2px solid #FFFFFF;
	overflow: hidden;
	position: relative;
	object-fit: cover;

	@media(max-width:768px) {
		width: 50%;
	}

	& img {
		width: 100%;
		height: 100%;
	}

	&:hover {
		.overlay {
			opacity: 1;
			cursor: pointer;
		}
	}
}


.overlay {
	background: rgba($mc, .8);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	transition: 0.2s;

	&-title {
		@include fontz(Raleway, 24px, 900, 28px);
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-top: 33%;
		margin-bottom: 21px;
		align-self: center;
		padding: 18px 0;

		@media (max-width:1024px) {
			@include fontz(Raleway, 18px, 900, 21px);
			margin-bottom: 12px;
		}

		@media (max-width:768px) {
			margin-bottom: 4px;
			margin-top: 46px;
			padding: 0;
		}
	}

	&-text {
		@include fontz(Raleway, 18px, 400, 21px);
		text-align: center;
		color: #FFFFFF;

		@media (max-width:1024px) {
			@include fontz(Raleway, 14px, 400, 16px);
		}
	}
}