@import 'mixin';

.benefits-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 28px 0 116px 0;




	@media(max-width:768px) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;
		margin-bottom: 35px;
	}

	.benefits-item {
		max-width: 32%;
		padding: 0 12px;
		transition: 0.2s;

		@media(max-width:1024px) {
			padding: 0;
		}

		@media(max-width:768px) {
			max-width: 100%;
		}

		&__name {
			@include fontz(Raleway, 24px, 900, 28px);
			text-align: center;
			text-transform: uppercase;
			color: #2D3033;
			padding: 25px 0;
			margin: 29px 0 21px 0;
			transition: 0.2s;

			&:hover {
				transform: scale(1.1);
				color: black;
			}

			@media (max-width:1024px) {
				@include fontz(Raleway, 18px, 900, 21px);

			}

			@media (max-width:768px) {
				margin: 0;
				padding: 15px 0;
			}
		}

		&__text {
			@include fontz(Raleway, 18px, 400, 21px);
			text-align: center;
			color: #6C7279;

			@media (max-width:1024px) {
				@include fontz(Raleway, 14px, 400, 16px);
			}

			@media (max-width:768px) {
				padding: 0 10px;
			}
		}

		&__icon {
			display: block;
			margin: auto;
			margin-top: 88px;


			@media(max-width:1024px) {
				width: 85px;
				height: 85px;
			}

			@media(max-width:768px) {
				width: 75px;
				height: 75px;
				margin-top: 50px;
			}
		}
	}
}