@import "mixin";
@import "variables";

.download-content {
	padding: 114px 0;

	@media(max-width:768px) {
		padding: 35px 0;
	}

	&__title {
		@include fontz($rw, 30px, 500, 35px);
		text-align: center;
		color: #000000;
		padding: 20px 0;

		@media(max-width:1024px) {
			@include fontz($rw, 24px, 500, 28px);
		}

		@media(max-width:768px) {
			@include fontz($rw, 18px, 500, 21px);

		}
	}

	&__text {
		@include fontz($rw, 18px, 700, 21px);
		text-align: center;
		text-transform: uppercase;
		color: #000000;
		margin-top: 5.29px;
		margin-bottom: 50.14px;

		@media(max-width:1024px) {
			@include fontz($rw, 14px, 700, 16px);
		}

		@media(max-width:768px) {
			@include fontz($rw, 13px, 700, 15px);

		}
	}

	&__btn {
		display: inline-block;
		@include fontz(Raleway, 24px, 900, 28px);
		text-align: center;
		color: white;
		border: none;
		background: #FF4343;
		padding: 25px 100px;
		margin-left: calc(50% - 184.5px);
		transition: 0.3s;
		text-transform: uppercase;

		&:hover {
			background: #E71414;
			transform: scale(1.1);
		}

		@media(max-width:1024px) {
			padding: 25px 78px;
			margin-left: calc(50% - 157.5px);
			@include fontz(Raleway, 18px, 900, 21px);
		}

		@media(max-width:768px) {
			padding: 25px 60px;
			margin-left: calc(50% - 140px);

		}
	}
}