@import 'mixin';
@import 'variables';

.team {
	padding: 114px 0;

	@media(max-width:1024px) {
		padding: 78px 0px;
	}

	@media(max-width:768px) {
		padding: 35px 0px;
	}
}

.wrapper-team {
	display: flex;
	justify-content: center;

	@media (max-width:768px) {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}

	@media (max-width:320px) {
		display: flex;
		flex-wrap: wrap;
		text-align: start;
	}
}

.team-member {
	width: 25%;
	transition: 0.2s;

	@media(max-width:768px) {
		width: 100%;
	}

	&:not(:last-child) {
		margin-right: 30px;

		@media(max-width:768px) {
			margin-right: 0px;
		}
	}

	&__img {
		@media(max-width:1024px) {
			max-width: 227.08px;
		}
	}

	&__img {
		@media(max-width:850px) {
			max-width: 150px;
		}
	}

	&__img {
		@media(max-width:550px) {
			max-width: 130px;
		}
	}

	&__img {
		@media(max-width:768px) {
			max-width: 280px;
			height: 227px;
		}


		&:hover {
			transform: scale(1.05);
			box-shadow: 0px 10px 10px -12px rgb(104, 102, 102);

			@media(max-width:1024px) {
				transform: none;
			}
		}
	}

	@media(max-width:768px) {
		.card {
			width: 100%;
			height: 227px;
			overflow: hidden;
		}

		.card img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.card:not(first-child) {
			margin-top: 50px;
		}
	}

	.team-member__name {
		@include fontz(Raleway, 24px, 700, 28px);
		text-transform: capitalize;
		color: black;
		margin-top: 30px;
		margin-bottom: 5.29px;

		@media(max-width:1024px) {
			@include fontz(Raleway, 18px, 700, 21px);
		}
	}

	.team-member__occupation {
		@include fontz(Raleway, 18px, 400, 21px);
		text-transform: uppercase;
		color: #FF4343;

		@media(max-width:1024px) {
			@include fontz(Raleway, 14px, 400, 16px);
		}
	}

	.team-member__text {
		@include fontz(Raleway, 18px, 400, 21px);
		color: #6C7279;
		margin-top: 17.86px;


		@media(max-width:1024px) {
			@include fontz(Raleway, 14px, 400, 16px);
		}

		@media(max-width:768px) {
			width: 280px;
			margin: 0 auto;
			margin-top: 38.49px;
		}
	}




	.team-member__facebook,
	.team-member__twitter,
	.team-member__linkedin {
		margin-top: 37.86px;
		width: 39px;
		height: 39px;
		padding: 10px;
		border: 1px solid #C6CBCD;
		fill: #C6CBCD;
		transition: 0.2s;

		@media(max-width:1024px) {
			width: 32.8px;
			height: 32.8px;
			padding: 8px;
		}

		&:hover {
			cursor: pointer;
			border: 2px solid #777c7f;
			border-radius: 20%;
			fill: #777c7f;
			background: #fff2f2cc;
		}

		@media(max-width:768px) {
			width: 39px;
			height: 39px;
			padding: 10px;
		}
	}
}