* {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
    padding: 0 15;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 107px 0 57px 0;
}

h2:after {
    content: "";
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    display: block;
    margin: 50px auto 40px auto;
}

.lorem {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 83px;
}

.block {
    display: flex;
    justify-content: space-between;
}

.speech {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    width: 370px;
    padding: 38px 17px;
}

.speech:after {

    content: "";
    border-top: 60px solid #E2E2E2;
    display: block;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.name {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 66px;
    padding-top: 15px;
}

.occupation {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 64px;
    margin-left: 100px;
}

#Davis:before {
    display: inline-block;
    content: "";
    width: 70px;
    height: 70px;
    background: url("../img/Davis.png") no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 30px;
}

#Jaydon:before {
    display: inline-block;
    content: "";
    width: 70px;
    height: 70px;
    background: url("../img/Jaydon.png") no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 30px;
}

#Cooper:before {
    display: inline-block;
    content: "";
    width: 70px;
    height: 70px;
    background: url("../img/Cooper.png") no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 30px;
}